.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
}

.layout-body {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  height: calc(100vh - 60px);
}
